@use '@/assets/scss/abstracts/' as *;

:root {
    --frame-border: 0.625rem;
    --frame-color: var(--c-pure-white);

    @include breakpoint( sm ) {
        --frame-border: 1.25rem;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: initial;
    scrollbar-gutter: stable; // TODO: add scrollbar support for 100vw. does dvw fix this?

    &::before,
    &::after {
        @include fixed(0 x x);
        background: var(--frame-color);
        backface-visibility: hidden;
        content: '';
        height: 100%;
        pointer-events: none;
        width: var(--frame-border);
        z-index: var(--z-frame);

        @include dvh-fallback() {
            height: 100lvh;
        }
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }
}

html,
body {
    min-height: 100%;
    height: auto;
}

html[data-is-locked="true"],
html[data-is-locked="true"] body {
    position: relative;
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
}

html[data-is-locked="true"] body {
    margin-top: var(--header-height);
}

body {
    @include modern-text();
    background: transparent;
    position: relative;

    &::before,
    &::after {
        @include fixed(x x x 0);
        background: var(--frame-color);
        backface-visibility: hidden;
        content: '';
        height: var(--frame-border);
        pointer-events: none;
        width: 100%;
        z-index: var(--z-frame);
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

[v-cloak] {
    display: none;
}

.site-wrapper {
    @include padding(var(--frame-border));
    @include grid-items( start center);
    display: grid;
    min-height: 100vh;
    width: 100vw;

    @include dvh-fallback() {
        min-height: 100dvh;
    }
}
