@use '@/assets/scss/abstracts/' as *;

:root {
    --frame-border: 1.25rem;
}

body {
    @include modern-text();
    background: transparent;
    position: relative;

    &::after {
        @include fixed(0);
        border: var(--frame-border) solid var(--c-pure-white);
        content: '';
        pointer-events: none;
        z-index: var(--z-frame);
    }
}

.site-wrapper {
    @include padding(var(--frame-border));
    @include grid-items( start center);
    display: grid;
    min-height: 100vh;
    width: 100vw;
}
