@use '@/assets/scss/abstracts/' as *;

:root {
    --frame-border: 1.25rem;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: initial;
    scrollbar-gutter: stable;
}

html,
body {
    min-height: 100%;
    height: auto;
}

// TODO: Sort this shit out.
// html[data-is-locked="true"],
// html[data-is-locked="true"] body {
//     position: relative;
//     overflow: hidden;
//     touch-action: none;
//     -ms-touch-action: none;
// }

body {
    @include modern-text();
    background: transparent;
    position: relative;

    &::after {
        @include fixed(0);
        border: var(--frame-border) solid var(--c-pure-white);
        content: '';
        height: 100vh;
        pointer-events: none;
        width: 100vw;
        z-index: var(--z-frame);

        @include dvh-fallback() {
            height: 100dvh;
        }
    }
}

.site-wrapper {
    @include padding(var(--frame-border));
    @include grid-items( start center);
    display: grid;
    min-height: 100vh;
    width: 100vw;

    @include dvh-fallback() {
        min-height: 100dvh;
    }
}
