@use '@/assets/scss/abstracts/' as *;

.article-list-block {
    &:is(.section) {
        padding-block-start: 0;
    }

    &__grid {
        display: grid;
        justify-content: center;
        justify-items: center;
    }

    &__list {
        display: grid;
        font-size: fluid( 1.25, 1.625, false);
        max-inline-size: var(--size-content-2);
    }

    &__item {
        border-block-start: 1px solid var(--c-theme-300);
        padding-block: calc(var(--section-padding-y) /2);
        position: relative;
    }

    &__article {
        display: grid;
        gap: fluid(0.5, 1, false);
    }

    &__meta {
        color: var(--c-theme-600);
        display: flex;
        flex-wrap: wrap;
        font-size: fluid(0.75, 1, false);
        font-weight: var(--font-weight-medium);
        letter-spacing: 0.1em;
        gap: fluid(0.5, 1, false);
    }

    &__content {
        display: grid;
        gap: 1.25rem;
    }

    &__publication {
        position: relative;

        &::before {
            @include absolute(0 x 0 calc(fluid(0.25, 0.5, false) * -1));
            border-inline-start: 1px solid var(--c-theme-300);
            content: '';
        }
    }

    &__date {
        font-weight: var(--font-weight-semibold);
        text-transform: uppercase;
    }

    &__title {
        color: var(--c-theme-800);
        font-family: var(--font-poster);
        font-size: fluid(1.5, 2, false);
    }

    &__excerpt {
        font-size: fluid(1, 1.25, false);
        font-weight: var(--font-weight-light);
    }

    &__link {

    }

    &__button {
        --button-scale: 0.75;
    }

}