@use '@/assets/scss/abstracts/' as *;

.awards-block {
    $b: &;

    --awards-border-scale: 0;
    --awards-delay: 150ms;
    --awards-padding-y: #{fluid(1.875, 3.75, false)};
    --awards-subtext-size: #{fluid(0.6875, 0.75, false)};
    --awards-text-size: #{fluid(1.1, 1.375, false)};
    --awards-transform-origin: right;

    display: grid;
    gap: var(--awards-padding-y);

    &__heading {
        text-wrap: balance;
    }

    &__award {
        align-items: center;
        display: grid;
        gap: fluid(1, 2.5, false);
        padding: var(--awards-padding-y) 0;
        position: relative;

        @include breakpoint(md) {
            grid-template-columns: repeat(3, 1fr);
        }

        &::before,
        &::after {
            background-color: var(--section-color-panel-4);
            block-size: 2px;
            transition: scale var(--duration-moderate) var(--ease-out-expo);
            transform-origin: var(--awards-transform-origin) center;
            scale: var(--awards-border-scale) 1;
        }

        &::before {
            @include absolute( 0 0 x 0);
            content: '';
            transition-delay: calc(var(--awards-delay) * var(--index));
        }

        &:last-child {
            &::after {
                @include absolute( x 0 0 0 );
                content: '';
                transition-delay: calc(var(--awards-delay) * (var(--list-length) + 1));
            }
        }

        &[in-view] {
            --awards-border-scale: 1;
            --awards-transform-origin: left;
        }
    }

    &__col {
        display: grid;
        gap: 0.5rem;

        &:first-child {
            #{$b}__text {
                font-size: calc( var(--awards-text-size) * 1.5);
                font-weight: var(--font-weight-bold);
            }

            #{$b}__subtext {
                font-size: calc( var(--awards-subtext-size) * 1.5);
            }

        }

        @include breakpoint(md) {

            &:where(:not(:first-child):not(:last-child)) {
                justify-self: center;
                text-align: center;
            }

            &:first-child {
                justify-self: start;
                text-align: start;

                #{$b}__text {
                    font-size: var(--awards-text-size);
                    font-weight: var(--font-weight-medium);
                }

                #{$b}__subtext {
                    font-size: var(--awards-subtext-size);
                }
            }

            &:last-child {
                justify-self: end;
                text-align: end;
            }
        }

    }

    &__text {
        color: var(--section-color-heading);
        font-size: var(--awards-text-size);
        font-family: var(--font-modern);
        font-weight: var(--font-weight-medium);
        line-height: 1.2;

        &:is(a:focus-visible) {
            @include focus-style();
        }

    }

    &__subtext {
        color: var(--section-color-text);
        font-size: var(--awards-subtext-size);
        font-family: var(--font-modern);
        font-weight: var(--font-weight-regular);
        letter-spacing: 0.05em;
        line-height: 1.2;
        text-transform: uppercase;
        text-wrap: balance;
    }
}