@use '@/assets/scss/abstracts/' as *;

.gallery-block {
    $b: &;
    --gallery-slide-gap: #{max(frame(7.5vw), 1.25rem)};
    --gallery-slide-height: calc(var(--gallery-slide-width) * var(--gallery-slide-ratio));
    --gallery-slide-ratio: 1;
    --gallery-slide-width: #{frame(75vw)};
    --gallery-slide-offset: #{calc( (frame(100vw) - var(--gallery-slide-width)) / 2 )};

    --gallery-nav-gap: calc(var(--gallery-slide-gap) / 10);
    --gallery-nav-height: calc(var(--gallery-slide-height) / 10);
    --gallery-nav-width: calc(var(--gallery-slide-width) / 10);
    --gallery-nav-offset: calc(var(--gallery-slide-offset) / 10);

    @include breakpoint( md ) {
        --gallery-slide-height: #{frame(30vw)};
        --gallery-slide-ratio: 1.777778;
        --gallery-slide-width: calc(var(--gallery-slide-height) * var(--gallery-slide-ratio));
    }

    background: var(--c-theme-950);
    margin: frame(30vh) 0;
    overflow: hidden;
    position: relative;

    &__wrapper {
        display: grid;
        gap: fluid(2, 6, false);
        padding: fluid(3, 8rem) 0;
    }

    &__gallery {
        display: grid;
        grid-template-columns: 1fr var(--gallery-slide-width) 1fr;
        inline-size: frame(100vw);
    }

    &__gallery-inner {
        display: grid;
        grid-column: 2 / span 1;
    }

    &__gallery-track {
        cursor: grab;
        display: grid;
        gap: var(--gallery-slide-gap);
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        touch-action: pan-y;
        user-select: none;
        will-change: transform;

        &::after {
            content: '';
            block-size: 100%;
            inline-size: calc( var(--gallery-slide-offset) - var(--gallery-slide-gap) );
        }
    }

    &__gallery-item {
        aspect-ratio: var(--gallery-slide-ratio);
        background: var(--c-theme-800);
        block-size: var(--gallery-slide-height);
    }

    &__footer {
        display: grid;
    }

    &__navigation {
        align-items: center;
        display: grid;
        grid-area: 1 / 1 / 1 / 1;
        grid-template-columns: 1fr 10vw 1fr;
        position: relative;
        inline-size: frame(100vw);


        &--front {
            pointer-events: none;

            &::before,
            &::after {
                content: '';
                grid-row: 1 / span 1;
                block-size: 100%;
                position: relative;
                z-index: 3;
            }

            &::before {
                background-image: linear-gradient(90deg, hsl(var(--c-theme-950-hsl) / 1) 10%, hsl(var(--c-theme-950-hsl) / 0.8) 80%);
                grid-column: 1 / span 1;
            }

            &::after {
                background-image: linear-gradient(270deg, hsl(var(--c-theme-950-hsl) / 1) 10%, hsl(var(--c-theme-950-hsl) / 0.8) 80%);
                grid-column: 3 / span 1;
            }

            #{$b}__navigation-frame {
                position: relative;

                &::after {
                    border: 1px solid var(--c-theme-50);
                    content: '';
                    inset: 0;
                    position: absolute;
                    z-index: 8;
                }
            }

        }
    }

    &__navigation-frame {
        align-items: center;
        display: grid;
        grid-column: 2 / span 1;
        grid-row: 1/ span 1;
        grid-template-columns: 1fr var(--gallery-nav-width) 1fr;
        block-size: 10vh;
        inline-size: 10vw;
    }

    &__navigation-inner {
        display: grid;
        grid-column: 2 /span 2;
    }

    &__navigation-track {
        cursor: grab;
        display: grid;
        gap: var(--gallery-nav-gap);
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        position: relative;
        touch-action: pan-y;
        user-select: none;
        will-change: transform;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
        }
    }

    &__navigation-item {
        aspect-ratio: var(--gallery-slide-ratio);
        background: var(--c-theme-800);
        block-size: var(--gallery-nav-height);
    }

}