@use '@/assets/scss/abstracts/' as *;

.hero {
    --hero-bg-color: var(--c-theme-bg);
    --hero-title-size: #{fluid(4.6875, 11.25, false)};
    --hero-padding-bottom: #{fluid(1.875rem, 2.5rem)};
    --hero-height: #{frame(65vh)};
    --hero-translate: #{calc(frame(35vh) - var(--hero-padding-bottom))};
    @include grid-items( end x );
    @include padding( x var(--hero-padding-bottom) 2.5rem);
    @include splitting($gap: 0.12em, $parent: 'title');
    background: var(--hero-bg-color);
    color: var(--c-theme-text);
    display: grid;
    height: var(--hero-height);
    position: relative;
    transform: translateY(var(--hero-translate));
    width: var(--content-x);
    z-index: var(--z-hero);

    @include dvh-fallback() {
        --hero-height: #{frame(65svh)};
        --hero-translate: #{calc(frame(35svh) - var(--hero-padding-bottom))};
    }

    &.-compressed {
        --hero-title-size: #{fluid(4, 13.75, false)};
    }

    &.-billboard {
        --hero-title-size: #{fluid(4.6875, 13.75, false)};
        --hero-height: #{frame(75vh)};
        --hero-translate: #{calc(frame(25vh) - var(--hero-padding-bottom))};

        @include dvh-fallback() {
            --hero-height: #{frame(75svh)};
            --hero-translate: #{calc(frame(25svh) - var(--hero-padding-bottom))};
        }
    }

    &__screen {
        @include absolute( x x calc(100% - 0.1rem) 0 );
        background: var(--hero-bg-color);
        height: var(--content-y);
        width: var(--content-x);
    }

    &__grid {
        display: grid;
        gap: fluid(2, 3.75);
    }

    &-eyebrow {
        @include eyebrow();
        margin-left: 1vw;
    }

    &__title {
        @include modern-text(900);
        font-size: var(--hero-title-size);
        letter-spacing: -0.1em;
        line-height: 0.78;
        margin: 0;
        text-transform: uppercase;
    }

    &__word {
        clip-path: inset(-10% -50% 0);
    }

    &__word-wrapper {
        transform: translateY(calc(100% + 2.5rem));
    }
}