@use '@/assets/scss/abstracts/' as *;

.hero {
    --hero-bg-color: var(--c-theme-bg);
    --hero-title-size: #{fluid(4.6875, 11.25, false)};
    --hero-padding-bottom: #{fluid(1.875rem, 2.5rem)};
    --hero-height: var(--_hero-height, #{frame(65vh)});
    --hero-translate-y: var(--_hero-translate-y, #{frame(35vh)});
    --hero-translate: calc(var(--hero-translate-y) - var(--hero-padding-bottom));
    @include grid-items( end x );
    @include padding( x var(--hero-padding-bottom) 2.5rem);
    @include splitting($gap: 0.12em, $parent: 'title');
    background: var(--hero-bg-color);
    color: var(--c-theme-text);
    display: grid;
    height: var(--hero-height);
    position: relative;
    transform: translateY(var(--hero-translate));
    width: var(--content-x);
    z-index: var(--z-hero);

    @include dvh-fallback() {
        --_hero-height: #{frame(65svh)};
        --_hero-translate-y: #{frame(35svh)};
    }

    &.-project {
        --_hero-height: #{frame(50vh)};
        --_hero-translate-y: #{frame(50vh)};

        @include dvh-fallback() {
            --_hero-height: #{frame(50svh)};
            --_hero-translate-y: #{frame(50svh)};
        }

        @include breakpoint(md) {
            --_hero-height: #{frame(65vh)};
            --_hero-translate-y: #{frame(35vh)};

            @include dvh-fallback() {
                --_hero-height: #{frame(65svh)};
                --_hero-translate-y: #{frame(35svh)};
            }
        }
    }

    &.-compressed {
        --hero-title-size: #{fluid(4, 13.75, false)};
    }

    &.-billboard {
        --hero-title-size: #{fluid(4.6875, 13.75, false)};
        --_hero-height: #{frame(75vh)};
        --_hero-translate-y: #{frame(25vh)};

        @include dvh-fallback() {
            --_hero-height: #{frame(75svh)};
            --_hero-translate-y: #{frame(25svh)};
        }
    }

    &__screen {
        @include absolute( x x calc(100% - 0.1rem) 0 );
        background: var(--hero-bg-color);
        height: var(--content-y);
        width: var(--content-x);
    }

    &__grid {
        display: grid;
        gap: fluid(2, 3.75);
    }

    &-eyebrow {
        @include eyebrow();
        margin-left: 1vw;
    }

    &__title {
        @include modern-text(900);
        font-size: var(--hero-title-size);
        letter-spacing: -0.1em;
        line-height: 0.78;
        margin: 0;
        text-transform: uppercase;
    }

    &__word {
        clip-path: inset(-10% -50% 0);
    }

    &__word-wrapper {
        transform: translateY(calc(100% + 2.5rem));
    }
}