@use '@/assets/scss/abstracts/' as *;

.loading-screen {
    @include absolute(0);
    background: var(--c-theme-950);
    display: grid;
    place-items: center;

    &__logo {
        block-size: min(11.25rem, 40vw);
        inline-size: min(11.25rem, 40vw);
    }

    &__shape {
        opacity: 0;
        transform: translateY(20px);
    }
}