@use '@/assets/scss/abstracts/' as *;

.media-block {
    $b: &;

    &:is([media-layout='grid']) {
        padding-block: #{fluid(1, 2, false)};
    }

    &__img {
        @include image-fit('cover');
        object-position: var(--media-hotspot-x, 50%) var(--media-hotspot-y, 50%);
    }

    &__overlay {
        @include absolute(0);
        background: hsl(var(--image-bg, var(--c-theme-950-hsl)));
        pointer-events: none;
    }

    :where(#{$b}__content--full) {
        block-size: var(--content-y-lvh);
        inline-size: var(--content-x);
        overflow: hidden;
        position: relative;

        #{$b}__media {
            @include absolute(0);
            overflow: hidden;
            will-change: transform;
        }
    }

    :where(#{$b}__content--video) {
        block-size: var(--content-y-lvh);
        inline-size: var(--content-x);
        overflow: hidden;
    }

    :where(#{$b}__content--grid) {
        display: grid;
        gap: fluid(1, 2, false);
        grid-template-columns: repeat(6, 1fr);

        #{$b}__media {
            --_media-fit: cover;
            aspect-ratio: var(--media-ratio);
            background: var(--c-theme-100);
            clip-path: inset(0);
            grid-column: span 6;
            inline-size: 100%;
            max-block-size: var(--content-y-svh);
            overflow: hidden;
            position: relative;

            @include breakpoint(sm) {
                grid-column: span calc( 6 / var(--media-spacing));
            }

            &[media-fit='contain'] {
                --_media-fit: contain;
                display: grid;
                place-content: center;

                #{$b}__video-wrapper {
                    //block-size: calc(var(--content-y-svh) * 0.85);
                    block-size: 100%;
                    min-block-size: 180px;
                }

            }
        }

        #{$b}__gradient {
            @include absolute(0);
            background-image: var(--ratio-gradient-background-image);
            background-position: var(--ratio-gradient-background-position);
            background-repeat: var(--ratio-gradient-background-repeat);
            background-size: var(--ratio-gradient-background-size);
            content: '';
            mix-blend-mode: luminosity;
            pointer-events: none;
            will-change: transform;
        }

        #{$b}__picture {
            @include size(100%, 100%);
            display: block;
        }

        #{$b}__video-wrapper {
            @include size(100%, 100%);
            aspect-ratio: var(--media-ratio);
            display: block;
        }

        #{$b}__video {
            @include image-fit(var(--_media-fit));
            aspect-ratio: var(--media-ratio);
            object-position: var(--media-hotspot-x, 50%) var(--media-hotspot-y, 50%);
        }
    }

    &__caption {
        color: var(--section-color-text);
        font-family: var(--font-modern);
        font-size: fluid(0.6875, 0.875, false);
        font-weight: var(--font-weight-medium);
        line-height: 1.5;
        letter-spacing: 0.075em;
        padding-block: fluid(0.75, 0.1, false);

        .section--flush & {
            padding-inline: var(--section-padding-x);
        }
    }
}