@use '@/assets/scss/abstracts/' as *;

.media-block {
    $b: &;

    &:is([media-layout='grid']) {
        padding-block: #{fluid(1, 2, false)};
    }

    :where(#{$b}__content--full) {
        block-size: var(--content-y-lvh);
        inline-size: var(--content-x);
        overflow: hidden;
        position: relative;

        #{$b}__media {
            @include absolute(0);
            will-change: transform;
        }

        #{$b}__img {
            @include image-fit('cover');
            object-position: var(--media-hotspot-x, 50%) var(--media-hotspot-y, 50%);
        }

        #{$b}__overlay {
            @include absolute(0);
            background: var(--c-theme-950);
            pointer-events: none;
        }
    }

    :where(#{$b}__content--grid) {
        display: grid;
        gap: fluid(1, 2, false);
        grid-template-columns: repeat(6, 1fr);

        #{$b}__media {
            aspect-ratio: var(--media-ratio);
            clip-path: inset(0);
            grid-column: span calc( 6 / var(--media-spacing));
            inline-size: 100%;
            position: relative;

            &[media-aspect-ratio='1:1'] {
                .media-block__gradient {
                    @include step-gradient-columns('1:1');
                }
            }

            &[media-aspect-ratio='4:3'] {
                .media-block__gradient {
                    @include step-gradient-columns('4:3');
                }
            }

            &[media-aspect-ratio='16:9'] {
                .media-block__gradient {
                    @include step-gradient-columns('16:9');
                }
            }

            &[media-aspect-ratio='21:9'] {
                .media-block__gradient {
                    @include step-gradient-columns('21:9');
                }
            }
        }

        #{$b}__gradient {
            --gradient-hsl: var(--c-theme-950-hsl);
            @include absolute(0);
            content: '';
            filter: blur(1px);
            mix-blend-mode: luminosity;
            pointer-events: none;
        }


        #{$b}__picture {
            @include size(100%, 100%);
            display: block;
        }

        #{$b}__img {
            @include image-fit('cover');
            object-position: var(--media-hotspot-x, 50%) var(--media-hotspot-y, 50%);
        }

        #{$b}__overlay {
            @include absolute(0);
            background: var(--c-theme-950);
            pointer-events: none;
        }
    }

    &__caption {
        color: var(--section-color-text);
        font-family: var(--font-modern);
        font-size: fluid(0.6875, 0.875, false);
        font-weight: var(--font-weight-medium);
        line-height: 1.2;
        letter-spacing: 0.075em;
        padding-block: fluid(0.5, 0.75, false);
        .section--flush & {
            padding-inline: var(--section-padding-x);
        }
    }
}