@use '@/assets/scss/abstracts/' as *;

.philosophy-block {

    &__content {
        display: grid;
        place-content: center;
    }

    &__heading {
        display: grid;
        gap: fluid(1, 2, false);
        overflow: hidden;
        place-content: center;
    }

    &__eyebrow {
        &:is(.section__eyebrow) {
            grid-column: span 1;
        }
    }

    &__title {
        --_border: 0.0625em;
        background: var(--section-color-heading);
        border-radius: 0.0625em;
        color: var(--section-color-heading);
        display: grid;
        font-size: fluid(4.5, 7, false);
        font-weight: var(--font-weight-black);
        gap: var(--_border);
        grid-template-areas:
        'a a a'
        'b c c'
        'd d e';
        grid-template-columns: repeat(3, auto);
        inline-size: fit-content;
        letter-spacing: -0.05em;
        padding: var(--_border);
        place-content: center;
        line-height: 0.9;
        text-transform: uppercase;
    }

    &__title-wrapper {
        --title-velocity: 1;
        --title-bg: var(--section-color-background);
        background: var(--title-bg);
        display: grid;
        overflow: hidden;
        padding: 0.125em 0.125em 0.0625em;
        place-items: center;
        place-content: center;

        &:nth-child(1) {
            --title-translate: 0 calc(-100% * var(--title-velocity) * var(--index));
            grid-area: a;
        }

        &:nth-child(2) {
            --title-translate: calc(-100% * var(--title-velocity) * var(--index)) 0;
            grid-area: b;
            padding:0.125em 0.25em 0.0625em;
        }

        &:nth-child(3) {
            --title-translate: calc(100% * var(--title-velocity) * var(--index)) 0;
            grid-area: c;
        }

        &:nth-child(4) {
            --title-translate: 0 calc(100% * var(--title-velocity) * var(--index));
            grid-area: d;
        }

        &:nth-child(5) {
            --title-translate: calc(100% * var(--title-velocity) * var(--index)) 0;
            grid-area: e;
        }

        span {
            translate: var(--title-translate);
            transition: translate var(--duration-moderate) var(--ease-out-expo) calc(150ms * var(--index));

            .in-view & {
                --title-translate: 0 0;
            }
        }
    }

    &__list {
        display: grid;
        gap: fluid(1, 2, false);
        list-style-type: decimal-leading-zero;
    }

    &__item {
        color: var(--section-color-text);
        font-family: var(--font-classic);
        font-size: fluid(2.5, 3.5, false);
        font-style: italic;
        font-weight: var(--font-weight-regular);
        line-height: 1.25;
        opacity: 0.2;
        padding-inline-start: 0.25em;
        transition: opacity var(--duration-moderate) var(--ease-out-expo) calc(150ms * var(--index));

        .in-view & {
            opacity: 1;
        }

        &::marker {
            color: var(--section-color-heading);
            font-family: var(--font-modern);
            font-size: fluid(0.5, 0.875, false);
            font-weight: var(--font-weight-bold);
        }

        > * + * {
            margin-block-start: 0.5em;
        }
    }

    &__tag {
        color: var(--section-color-text);
        font-family: var(--font-modern);
        font-size: fluid(0.75, 1.1, false);
        font-style: normal;
        font-weight: var(--font-weight-regular);
        line-height: 1.5;
        max-inline-size: 35ch;
        text-transform: uppercase;

        @include breakpoint(lg) {
            max-inline-size: none;
        }

        strong {
            font-weight: inherit;
            text-decoration-color: var(--section-color-accent);
            text-decoration-style: dotted;
            text-decoration-line: underline;
            text-decoration-skip-ink: auto;
            text-decoration-thickness: 1px;
            text-underline-position: under;
        }
    }
}