@use '@/assets/scss/abstracts/' as *;

.site-menu {
    @include fixed(var(--content-top) var(--frame-border) var(--frame-border));
    pointer-events: none;

    [data-menu-open="true"] & {
        pointer-events: auto;
    }

    &__grid {
        @include absolute(0);
        @include grid-content( center );
        display: grid;
        grid-template-columns: repeat(var(--menu-col-count), var(--menu-tile-size));
        grid-template-rows: repeat(var(--menu-row-count), var(--menu-tile-size));
    }

    &__tile {
        background: var(--c-theme-bg);
        opacity: 0;
        transform: scale(0.6);
        transition:
            background var(--duration-fast) var(--ease-in-expo) calc(10ms * var(--tile-delay-index, 1)),
            opacity var(--duration-fast) var(--ease-in-expo) calc(10ms * var(--tile-delay-index, 1)),
            transform var(--duration-fast) var(--ease-in-expo) calc(10ms * var(--tile-delay-index, 1));

        [data-menu-open="true"] & {
            background: var(--c-theme-text);
            opacity: 1;
            transform: scale(1);
            transition:
                background var(--duration-fast) var(--ease-out-expo) calc(10ms * var(--tile-delay-index, 1)),
                opacity var(--duration-fast) var(--ease-out-expo) calc(10ms * var(--tile-delay-index, 1)),
                transform var(--duration-fast) var(--ease-out-expo) calc(10ms * var(--tile-delay-index, 1));
        }
    }

    &__list {
        @include no-bullets();
        display: grid;
        grid-template-rows: repeat(calc(var(--menu-row-count) / 2), 1fr);
        height: var(--content-y);
    }

    &__item {
        display: grid;

        // TEMP
        opacity: 0;
    }

    &__count {

    }

    &__link {

    }
}