@use '@/assets/scss/abstracts/' as *;

:root {
    --logo-fill: var(--c-theme-text);
    --logo-stroke: var(--c-theme-text);
}

.site-header {
    --header-bg-alpha: 0.5;
    --header-border-color: var(--c-theme-text);
    @include sticky(var(--frame-border) auto auto);
    align-items: stretch;
    background: rgba(var(--c-theme-bg-rgb), var(--header-bg-alpha));
    backdrop-filter: blur(1.25rem);
    border-bottom: 2px solid var(--header-border-color);
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    justify-content: space-between;
    transition:
        background var(--duration-gentle) var(--ease-out-quad),
        border var(--duration-gentle) var(--ease-out-quad);
    width: frame(100vw);
    z-index: var(--z-header);

    [data-menu-open="true"] & {
        --header-bg-alpha: 0;
        --header-border-color: var(--c-theme-bg);
    }

    &__grid {
        @include absolute(0);
        @include grid-content( center );
        display: grid;
        grid-template-columns: repeat(var(--header-col-count), 1fr);
        grid-template-rows: 1fr;
    }

    &__tile {
        background: var(--c-theme-bg);
        opacity: 0;
        transform: scale(0.6);
        transition:
            background var(--duration-moderate) var(--ease-in-expo) calc(50ms * var(--tile-delay-index, 1)),
            opacity var(--duration-moderate) var(--ease-in-expo) calc(50ms * var(--tile-delay-index, 1)),
            transform var(--duration-moderate) var(--ease-in-expo) calc(50ms * var(--tile-delay-index, 1));

        [data-menu-open="true"] & {
            background: var(--c-theme-text);
            opacity: 1;
            transform: scale(1);
            transition:
                background var(--duration-moderate) var(--ease-out-expo) calc(50ms * var(--tile-delay-index, 1)),
                opacity var(--duration-moderate) var(--ease-out-expo) calc(50ms * var(--tile-delay-index, 1)),
                transform var(--duration-moderate) var(--ease-out-expo) calc(50ms * var(--tile-delay-index, 1));
        }
    }
}

.site-logo {
    --logo-bg-alpha: 0;
    --logo-bg-rgb: var(--c-theme-text-rgb);

    @include padding(1.5625rem 2.5rem);
    background: rgba(var(--logo-bg-rgb), var(--logo-bg-alpha));
    border-right: 2px solid var(--header-border-color);
    display: grid;
    position: relative;
    place-items: center;
    transition:
        background var(--duration-gentle) var(--ease-out-quad),
        border var(--duration-gentle) var(--ease-out-quad);

    &:hover {
        --logo-bg-alpha: 0.05;
    }

    [data-menu-open="true"] & {
        --logo-bg-rgb: var(--c-theme-bg-rgb);
    }

    &__svg {
        overflow: visible;

        > * {
            transition:
                fill var(--duration-gentle) var(--ease-out-quad),
                stroke var(--duration-gentle) var(--ease-out-quad);

            [data-menu-open="true"] & {
                stroke: var(--c-theme-bg);
            }
        }
    }
}

.site-eyebrow {
    @include padding(1.5625rem 2.5rem);
    color: var(--c-theme-text);
    display: grid;
    font-size: 0.8125rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    line-height: 1;
    perspective: 1000px;
    place-items: center;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: color var(--duration-gentle) var(--ease-out-quad);

    [data-menu-open="true"] & {
        color: var(--c-theme-bg);
    }

    &__inner {
        display: grid;
        place-items: center;
        position: relative;
        //transform: rotate3d(1, 0, 0, 0deg);
        transform: rotateX(0deg);
        transform-origin: center;
        transform-style: preserve-3d;
        transition: transform 300ms ease-in-out;
        width: 100%;

        [data-menu-open="true"] & {
            //transform: rotate3d(1, 0, 0, 90deg);
            transform: rotateX(90deg) translateY(1em);
        }
    }

    &__closed {
        @include absolute(0);
    }

    &__open {
        @include absolute(0);
        transform: translateZ(0.5em) rotateX(90deg) scaleY(-1);
        transform-origin: top;
    }
}

.site-menu__trigger {
    --trigger-bg-alpha: 0;
    --trigger-bg-rgb: var(--c-theme-text-rgb);
    $b: &;
    @include padding(1.5625rem 2.5rem);
    background: rgba(var(--trigger-bg-rgb), var(--trigger-bg-alpha));
    border-left: 2px solid var(--header-border-color);
    display: grid;
    place-items: center;
    position: relative;
    transition:
        background var(--duration-gentle) var(--ease-out-quad),
        border var(--duration-gentle) var(--ease-out-quad);

    &:hover {
        --trigger-bg-alpha: 0.05;
        cursor: pointer;
    }

    [data-menu-open="true"] & {
        --trigger-bg-rgb: var(--c-theme-bg-rgb);
    }

    &-grid {
        --menu-icon-dots-color: var(--c-theme-text);
        --menu-icon-closed-bars-color: var(--c-theme-text);
        --menu-icon-opened-bars-color: var(--c-theme-text);
        @include button-reset();
        @include size(1.875rem);
        position: relative;
        z-index: 1;

        [data-menu-open="true"] & {
            --menu-icon-dots-color: var(--c-theme-bg);
            --menu-icon-closed-bars-color: var(--c-theme-bg);
            --menu-icon-opened-bars-color: var(--c-theme-bg);
        }
    }

    &-dot,
    &-bar {
        @include theme-switch( opacity, stroke, fill );
    }

    &-bar {
        opacity: 0;

        &.-origin-right {
            transform-origin: right;
        }

        &.-origin-top-right {
            transform-origin: top right;
        }
    }
}

