.site-footer {
    background: var(--c-theme-text);
    color: var(--c-theme-bg);
    display: none;
    height: 60vh;
    width: var(--content-x);

    [data-loaded] & {
        display: grid;
    }
}