@use '@/assets/scss/abstracts/' as *;

@mixin build-active-rows($list) {
    @each $i in $list {
        &[data-active-item="#{$i}"][data-active-event='focus'] {
            [data-whatintent="keyboard"] & {
                [data-row="#{$i}"] {
                    &::before {
                        opacity: 0.1;
                        transform: scale(1);
                        transition:
                        background var(--duration-quick) var(--ease-out-expo) calc(5ms * var(--tile-delay-index, 1)),
                        opacity var(--duration-quick) var(--ease-out-expo) calc(5ms * var(--tile-delay-index, 1)),
                        transform var(--duration-quick) var(--ease-out-expo) calc(5ms * var(--tile-delay-index, 1));
                    }
                }
            }
        }
        &[data-active-item="#{$i}"][data-active-event='hover'] {
            [data-whatintent="mouse"] & {
                [data-row="#{$i}"] {
                    &::before {
                        opacity: 0.1;
                        transform: scale(1);
                        transition:
                        background var(--duration-quick) var(--ease-out-expo) calc(5ms * var(--tile-delay-index, 1)),
                        opacity var(--duration-quick) var(--ease-out-expo) calc(5ms * var(--tile-delay-index, 1)),
                        transform var(--duration-quick) var(--ease-out-expo) calc(5ms * var(--tile-delay-index, 1));
                    }
                }
            }
        }
    }
}
.site-menu {
    @include build-active-rows((1, 2, 3, 4));
    @include fixed(var(--content-top) var(--frame-border) var(--frame-border));
    pointer-events: none;
    z-index: var(--z-menu);

    [data-menu-open="true"] & {
        pointer-events: auto;

        &.-is-animating {
            pointer-events: none;
        }
    }

    &__grid {
        --menu-grid-alpha: 0;
        @include absolute(0);
        @include grid-content( center );
        background: hsl(var(--c-theme-950-hsl) / var(--menu-grid-alpha));
        display: grid;
        grid-template-columns: repeat(var(--menu-col-count), var(--menu-tile-size));
        grid-template-rows: repeat(var(--menu-row-count), var(--menu-tile-size));
        transition: background var(--duration-slow) var(--ease-out-cubic);

        [data-menu-open="true"] & {
            --menu-grid-alpha: 0.4;
            transition: background var(--duration-fast) var(--ease-out-cubic);
        }
    }

    &__tile {
        --tile-delay-time: 40ms;
        --tile-transition-delay: calc(var(--tile-delay-time) * var(--tile-delay-index, 1));
        background: var(--c-theme-100);
        opacity: 0;
        transform: scale(0.6);
        transition:
            background var(--tile-duration-override, var(--duration-fast)) var(--ease-in-expo) var(--tile-transition-delay),
            opacity var(--tile-duration-override, var(--duration-fast)) var(--ease-in-expo) var(--tile-transition-delay),
            transform var(--tile-duration-override, var(--duration-fast)) var(--ease-in-expo) var(--tile-transition-delay);

        @include breakpoint( sm ) {
            --tile-delay-time: 32ms;
        }

        @include breakpoint( lg ) {
            --tile-delay-time: 24ms;
        }

        @include breakpoint( xl ) {
            --tile-delay-time: 16ms;
        }

        @include breakpoint( xxxl ) {
            --tile-delay-time: 8ms;
        }

        &::before {
            @include absolute(0);
            background: var(--c-theme-900);
            content: '';
            opacity: 0;
            transform: scale(0.6);
            transition:
                background var(--duration-quick) var(--ease-in-expo) calc(5ms * var(--tile-delay-index, 1)),
                opacity var(--duration-quick) var(--ease-in-expo) calc(5ms * var(--tile-delay-index, 1)),
                transform var(--duration-quick) var(--ease-in-expo) calc(5ms * var(--tile-delay-index, 1));
        }

        [data-portal-open="true"] & {
            --tile-duration-override: 0ms;
            --tile-transition-delay: 0ms;
        }

        [data-menu-open="true"] & {
            background: var(--c-theme-100);
            opacity: 1;
            transform: scale(1);
            transition:
                background var(--tile-duration-override, var(--duration-fast)) var(--ease-out-expo) var(--tile-transition-delay),
                opacity var(--tile-duration-override, var(--duration-fast)) var(--ease-out-expo) var(--tile-transition-delay),
                transform var(--tile-duration-override, var(--duration-fast)) var(--ease-out-expo) var(--tile-transition-delay);
        }
    }

    &__list {
        @include no-bullets();
        display: grid;
        grid-template-rows: repeat(calc(var(--menu-row-count) / 2), 1fr);
        block-size: var(--content-y-dvh);
        position: relative;
    }

    &__item {
        @include gap( x fluid(1.125rem, 6rem, false));
        @include grid-items(center start);
        @include padding( 1.5rem 1.5rem);
        display: grid;
        grid-template-columns: max-content auto;
        position: relative;

        @include breakpoint( sm ) {
            @include padding( x max(7.5vw, 1.5rem));
        }
    }

    &__count {
        @include poster-text(italic);
        clip-path: inset(0);
        color: var(--c-theme-900);
        font-size: fluid(0.875rem, 1.5rem, false);
        line-height: 1;
        overflow: hidden;

        span {
            display: block;
            transform: translateY(100%);
            transition: transform var(--duration-slow) var(--ease-out-circ);

            [data-portal-open="true"] & {
                transition: none;
            }

            [data-menu-open="true"] & {
                transform: translateY(0);
                transition: transform var(--duration-moderate) var(--ease-out-circ) calc(var(--menu-item-index) * 250ms + var(--menu-enter-time) * 0.8ms);
            }
        }
    }

    &__link {
        --menu-font-size: #{fluid( 2.5rem, 4.25rem, false)};
        --menu-link-delay: 20ms;
        --menu-link-height: var(--menu-font-size);
        --text-fill: var(--c-theme-900);
        --text-stroke: var(--c-theme-900);
        @include pseudo-link();
        @include poster-text();
        color: transparent;
        display: grid;
        font-size: var(--menu-font-size);
        line-height: 1;

        .-is-active & {
            &:hover,
            &:focus-visible {
                --menu-link-delay: 300ms;

                .site-menu__fill-wrapper {
                    opacity: 1;
                    transform: translateX( 0.045em ) translateY( 0.045em );
                }
            }
        }

        &[data-title="Thoughts"] {
            --menu-link-height: calc(var(--menu-font-size) + 26.74%);
        }
    }

    &__title {
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: var(--menu-link-height);
    }

    &__outline-wrapper {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    &__fill-wrapper {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        opacity: 0;
        transition:
            opacity var(--duration-slow) var(--ease-out-expo) var(--menu-link-delay),
            transform var(--duration-gentle) var(--ease-out-expo) var(--menu-link-delay);
    }

    &__outline-svg,
    &__fill-svg {
        @include svg-contain($width: auto, $height: var(--menu-link-height));
    }

    &__outline-svg {

        path {
            stroke-width: 2px;

            @include breakpoint( md ) {
                stroke-width: 1px;
            }
        }
    }

}