@use '@/assets/scss/abstracts/' as *;

.site-portal {
    @include fixed(var(--frame-border) var(--frame-border));
    pointer-events: none;
    z-index: var(--z-portal);

    &__panels {
        @include absolute(0);
        display: grid;
    }

    &__panel {
        grid-area: 1 / 1 / 1 / 1;
        transform: translateX(100%);
    }
}