@use '@/assets/scss/abstracts/' as *;

.slider-block {
    --slider-slide-gap: #{ max(frame(7.5vw), 1.5rem) };
    --slider-slide-ratio: 1;
    --slider-slide-width: #{ frame(80vw) };
    --slider-slide-offset: #{ calc( ( frame(100vw) - var(--slider-slide-width) ) / 2 ) };

    --slider-nav-gap: calc(var(--slider-slide-gap) / 6 );
    --slider-nav-width: calc(var(--slider-slide-width) / 6 );
    --slider-nav-offset: calc(var(--slider-slide-offset) / 6 * 2.5);

    --slider-item-transition: scale var(--duration-moderate) var(--ease-out-quad);

    @include breakpoint( sm ) {
        --slider-slide-ratio: 16 / 9;
        --slider-slide-width: #{ frame(60vw) };
        --slider-nav-gap: calc(var(--slider-slide-gap) / 15 );
        --slider-nav-width: calc(var(--slider-slide-width) / 15 );
        --slider-nav-offset: calc(var(--slider-slide-offset) / 15);
    }

    $b: &;

    background: var(--c-theme-950);
    overflow: hidden;
    position: relative;

    &__wrapper {
        display: grid;
        gap: fluid(4, 6, false);
        padding: fluid(3, 6, false) 0;
    }

    &__slider-inner {
        display: grid;
        grid-template-columns: 1fr var(--slider-slide-width) 1fr;
    }

    &__slider-track {
        grid-column: 2 / span 1;

        &:hover {
            cursor: grab;
        }

        [data-is-grabbing="true"] & {
            cursor: grabbing;
        }

        .splide__list {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: var(--slider-slide-width);
            gap: var(--slider-slide-gap);
        }
    }

    &__slider-item {
        display: grid;
        gap: fluid(1rem, 1.5rem, false);
        inline-size: var(--slider-slide-width);
        transition: var(--slider-item-transition);

        &.is-active {
            scale: 1.08;

            [data-is-grabbing="true"] & {
                scale: 1;
            }

            #{$b}__img {
                filter: blur(0);
                //opacity: 1;
                scale: 1;
            }

            #{$b}__slider-item-caption {
                opacity: 1;
            }

            #{$b}__slider-item-wrapper::before {
                opacity: 1;
            }
        }
    }

    &__slider-item-wrapper {
        aspect-ratio: var(--slider-slide-ratio);
        background: var(--c-theme-800);
        inline-size: var(--slider-slide-width);
        position: relative;

        &::before {
            @include absolute(0);
            box-shadow: var(--shadow-4);
            content: '';
            transition: opacity var(--duration-moderate) var(--ease-out-expo);
            opacity: 0.5;
        }
    }

    &__slider-item-caption {
        color: var(--c-theme-300);
        font-family: var(--font-modern);
        font-size: fluid(0.6875, 0.875, false);
        font-weight: var(--font-weight-medium);
        line-height: 1.5;
        letter-spacing: 0.075em;
        opacity: 0;
        transition: opacity var(--duration-slow) var(--ease-out-circ) var(--duration-slow);
    }

    &__picture {
        @include size(100%);
        display: block;
        clip-path: inset(-1px);
    }

    &__img {
        @include image-fit('cover');
        filter: blur(40px);
        //opacity: 0.6;
        object-position: var(--media-hotspot-x, 50%) var(--media-hotspot-y, 50%);
        scale: 1.3;
        transition:
            filter var(--duration-slow) var(--ease-out-expo),
            //opacity var(--duration-slow) var(--ease-out-expo),
            scale var(--duration-gentle) var(--ease-out-expo);
        will-change: filter, scale;
    }

    &__navigation-inner {
        display: grid;
        grid-template-columns: 1fr var(--slider-nav-width) 1fr;

        &::before,
        &::after {
            content: '';
            grid-row: 1 / span 1;
            block-size: 100%;
            pointer-events: none;
            position: relative;
            z-index: 3;
        }

        &::before {
            background-image: linear-gradient(90deg, hsl(var(--c-theme-950-hsl) / 1) 10%, hsl(var(--c-theme-950-hsl) / 0.8) 80%);
            grid-column: 1 / span 1;
            margin-right: var(--slider-nav-offset);
        }

        &::after {
            background-image: linear-gradient(270deg, hsl(var(--c-theme-950-hsl) / 1) 10%, hsl(var(--c-theme-950-hsl) / 0.8) 80%);
            grid-column: 3 / span 1;
            margin-left: var(--slider-nav-offset);
        }
    }

    &__navigation-track {
        grid-column: 2 / span 1;
        position: relative;

        &:hover {
            cursor: grab;
        }

        [data-is-grabbing="true"] & {
            cursor: grabbing;
        }

        .splide__list {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: var(--slider-nav-width);
            gap: var(--slider-nav-gap);
        }
    }

    &__navigation-window {
        --_arrow-size: 0.25rem;
        --_arrow-offset: calc(var(--slider-nav-offset) * 1.25);
        border: 1px solid var(--c-theme-400);
        inset: -2vh calc(var(--slider-nav-offset) * -1);
        position: absolute;
        z-index: 4;

        @include breakpoint(sm) {
            --_arrow-offset: var(--slider-nav-offset);
        }

        &::before,
        &::after {
            block-size: 0;
            border-bottom: var(--_arrow-size) solid transparent;
            border-top: var(--_arrow-size) solid transparent;
            content: '';
            inline-size: 0;
            opacity: 1;
            pointer-events: none;
            position: absolute;
            transition: opacity var(--duration-moderate) var(--ease-out-expo);
            z-index: 5;
        }

        &::before {
            border-right: calc(var(--_arrow-size) * 2 * 0.866) solid var(--c-neutral-0);
            inset: calc(50% - var(--_arrow-size)) auto 0 calc(var(--_arrow-offset) * -1);

            .slider-block__navigation--first & {
                opacity: 0;
            }
        }

        &::after {
            border-left: calc(var(--_arrow-size) * 2 * 0.866) solid var(--c-neutral-0);
            inset: calc(50% - var(--_arrow-size)) calc(var(--_arrow-offset) * -1) 0 auto;

            .slider-block__navigation--last & {
                opacity: 0;
            }
        }
    }

    &__navigation-item {
        aspect-ratio: var(--slider-slide-ratio);
        background: var(--c-theme-800);
        transition: var(--slider-item-transition);
        inline-size: var(--slider-nav-width);

        &.is-active {
            scale: 1.08;

            [data-is-grabbing="true"] & {
                scale: 1;
            }
        }
    }
}