@use '@/assets/scss/abstracts/' as *;

.filter-modal {
    @include fixed(0);
    display: grid;
    grid-template-columns: max(10vh, 2.5rem) 1fr max(10vh, 2.5rem);
    grid-template-rows: 10vh 1fr 20vh;
    place-content: center;
    place-items: center;
    pointer-events: none;
    z-index: var(--z-modal);

    [data-modal-open="true"] & {
        pointer-events: auto;
    }

    &__screen {
        @include absolute(0);
        background: rgb(var(--c-theme-001-rgb), 0.8);
    }

    &__container {
        background: var(--c-theme-012);
        border-radius: 0.25rem;
        display: grid;
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        justify-items: center;
        padding: fluid(1.25, 2.5);
        position: relative;
        width: min(100%, 28.75rem);
    }

    &-eyebrow {
        --eyebrow-color: var(--c-theme-002);
        @include eyebrow();
    }

    &__footer {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }
}