@use '@/assets/scss/abstracts/' as *;

.filter-card {
    $b: &;

    $card-min: 320px;
    $card-max: 650px;

    --card-arrow-size: #{c-fluid(1.875rem, 2.5rem, $card-min, $card-max, false)};
    --card-border-color: var(--c-theme-008);
    --card-padding-x: #{c-fluid(0.75rem, 1.25rem, $card-min, $card-max, false)};
    --card-padding-y: #{c-fluid(1.25rem, 1.9375rem, $card-min, $card-max, false)};
    --card-row-size: #{c-fluid( 3.5rem, 5rem, $card-min, $card-max, false)};
    --card-shadow-color: var(--c-theme-004-rgb);

    aspect-ratio: 1 / 1;
    box-shadow:
        0.3px 0.3px 0.6px rgba(var(--card-shadow-color), 0),
        1.4px 1.4px 3px rgba(var(--card-shadow-color), 0.14),
        2.4px 2.4px 5.1px rgba(var(--card-shadow-color), 0.28),
        4.1px 4px 8.6px rgba(var(--card-shadow-color), 0.41),
        7.1px 6.9px 14.9px rgba(var(--card-shadow-color), 0.55);
    container-type: inline-size;
    display: grid;

    @mixin card-hover-state {
        #{$b}__panel {
            opacity: 0.8;
            transform: scale(1);
        }

        #{$b}__img {
            filter: blur(16px);
        }
    }

    @include hover-style(mouse) {
        @include card-hover-state();
        cursor: pointer;

        #{$b}__mask {
            transform: translateY(calc(var(--card-row-size) * -1));
        }
    }

    &.-blur-state {
        @include card-hover-state();
    }

    &__content {
        @include grid-items( end x );
        @include grid-content( end x );
        display: grid;
        grid-area: 1 / 1 / 1 / 1;
        padding: var(--card-padding-x) var(--card-padding-x);
        position: relative;
        z-index: 2;
    }

    &__wrapper {
        background: var(--c-theme-012);
        // border-radius: 0.25rem;
        box-shadow:
            -2px -2px 4px 2px rgba(var(--card-panel-bg), 0.05),
            2px 2px 4px 2px rgba(var(--card-panel-bg), 0.05);
        display: grid;
        height: calc(100% - var(--card-row-size));
        overflow:hidden;
    }

    &__mask {
        transition: transform var(--duration-slow) var(--ease-out-quint);
    }

    &__header {
        @include grid-content( center space-between );
        border-bottom: 2px solid var(--card-border-color);
        display: grid;
        grid-template-columns: 1fr max-content;
    }

    &__eyebrow {
        @include modern-text();
        color: var(--c-theme-004);
        font-size: c-fluid(0.875rem, 1rem, $card-min, $card-max, false);
        line-height: 1;
        padding: var(--card-padding-y) var(--card-padding-x);
    }

    &__services {
        border-left: 2px solid var(--card-border-color);
        display: grid;
        gap: var(--card-padding-x);
        grid-auto-flow: column;
        padding: 0 var(--card-padding-x);
    }

    &__icon {
        --icon-size: #{c-fluid(1.25rem, 1.875rem, $card-min, $card-max, false)};
    }

    &__title {
        padding: var(--card-padding-y) var(--card-padding-x);
    }

    &__link {
        @include poster-text();
        @include pseudo-link();
        color: var(--c-theme-002);
        font-size: c-fluid(1.5rem, 2.625rem, $card-min, $card-max, false);
    }

    &__cta {
        @include grid-content( center space-between );
        border-top: 2px solid var(--card-border-color);
        display: grid;
        font-size: c-fluid(0.6875rem, 0.875rem, $card-min, $card-max, false);
        grid-template-columns: 1fr max-content;
        line-height: 1;
        padding: var(--card-padding-y) var(--card-padding-x);
    }

    &__cta-text {
        @include modern-text(500);
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    &__cta-icon {
        @include svg-contain(var(--card-arrow-size));
    }

    &__media {
        grid-area: 1 / 1 / 1 / 1;
        overflow: hidden;
        position: relative;
    }

    &__panels {
        @include absolute(0);
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    &__panel {
        aspect-ratio: 1 / 1;
        background: rgba(var(--card-panel-bg), var(--card-panel-alpha));
        mix-blend-mode: multiply;
        opacity: 0;
        transform: scale(0.8);
        transition:
            opacity var(--duration-quick) var(--ease-out-quint) calc(var(--card-panel-alpha) * 1s / 1.2),
            transform var(--duration-quick) var(--ease-out-quint) calc(var(--card-panel-alpha) * 1s / 1.2);

        z-index: 1;
    }

    &__img {
        @include image-fit();
        transition: filter var(--duration-slow) var(--ease-in-out-cubic);
    }

}