@use '@/assets/scss/abstracts/' as *;

.filter-bar {
    @include hide-scrollbars();
    @include sticky( calc(var(--header-height) + var(--frame-border)) x x x );
    background: hsl(var(--c-theme-950-hsl) / 0.8);
    backdrop-filter: blur(1.25rem);
    overflow-x: auto;
    width: frame(100vw);
    z-index: var(--z-sticky);

    @include breakpoint( md ) {
        overflow: hidden;
    }

    &__list {
        @include no-bullets();
        align-items: center;
        display: grid;
        gap: 1rem;
        grid-auto-flow: column;
        grid-template-columns: max-content;
        justify-content: start;
        padding: fluid(1.25, 2);

        @include breakpoint( md ) {
            justify-content: end;
        }

        &::after {
            content: '';
            display: block;
            height: 100%;
            width: 1px;

            @include breakpoint( md ) {
                content: none;
            }
        }
    }

    .filter-group-move,
    .filter-group-enter-active,
    .filter-group-leave-active {
        transition: all var(--duration-gentle) var(--ease-out-expo);

        > * {
            pointer-events: none;
        }
    }
}