@use '@/assets/scss/abstracts/' as *;

.filter-modal {
    @include fixed(0);
    display: grid;
    grid-template-columns: fluid(2.5, 8, false) 1fr fluid(2.5, 8, false);
    grid-template-rows: 10vh 1fr 20vh;
    place-content: center;
    place-items: center;
    pointer-events: none;
    z-index: var(--z-modal);

    @include dvh-fallback() {
        grid-template-rows: 10dvh 1fr 20dvh;
    }

    [data-modal-open="true"] & {
        pointer-events: auto;
    }

    &__screen {
        @include absolute(0);
        background: rgb(var(--c-theme-001-rgb), 0.8);
    }

    &__container {
        background: var(--c-theme-012);
        border-radius: 0.25rem;
        display: grid;
        gap: 3rem;
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        justify-items: center;
        padding: fluid(2, 3);
        position: relative;
        width: min(100%, 28.75rem);
    }

    &-eyebrow {
        --eyebrow-color: var(--c-theme-002);
        @include eyebrow();
    }

    &__options {
        display: grid;
        gap: 1.5rem;
    }

    &__footer {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }
}