@use '@/assets/scss/abstracts/' as *;

.filter-grid {
    @include grid-content( x center);
    display: grid;
    gap: fluid(2, 4);
    grid-template-columns: 1fr;

    @include breakpoint( md ) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint( xxl ) {
        grid-template-columns: repeat(3, 1fr);
    }
}