@use '@/assets/scss/abstracts/' as *;

.filter-bar {
    @include no-bullets();
    align-items: center;
    background: var(--c-theme-003);
    display: grid;
    gap: 1rem;
    grid-template-columns: max-content;
    justify-content: start;
    padding: fluid(1.25, 2);

    @include breakpoint( md ) {
        @include sticky( calc(var(--header-height) + var(--frame-border)) x x x );
        grid-auto-flow: column;
        justify-content: end;
    }

    .filter-group-move,
    .filter-group-enter-active,
    .filter-group-leave-active {
        transition: all var(--duration-gentle) var(--ease-out-expo);

        > * {
            pointer-events: none;
        }
    }
}