@use '@/assets/scss/abstracts/' as *;

.project-bar {
    --_padding-x: #{fluid(1.125rem, 2.5rem)};
    --_padding-y: #{fluid(0.75rem, 1.5rem)};
    --_border-width: 2px;
    --_border-color: var(--c-theme-950);
    background: var(--c-theme-50);
    border: solid var(--_border-color);
    border-width: var(--_border-width) 0;
    display: grid;
    width: var(--content-x);

    @include breakpoint(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(xl) {
        grid-template-columns: auto auto 1fr auto;
    }

    &__cell {
        @include padding(var(--_padding-y) var(--_padding-x));
        align-content: start;
        border: solid var(--_border-color);
        display: grid;
        gap: 0.5rem;
        position: relative;

        &--client {
            border-width: 0;
        }

        &--year {
            border-width: var(--_border-width) 0 0 0;

            @include breakpoint(sm) {
                border-width: 0 0 0 var(--_border-width);
            }
        }

        &--skills {
            border-width: var(--_border-width) 0 0 0;

            @include breakpoint(sm) {
                @include padding(x calc(2 * var(--_padding-x)) x x);
                grid-column: span 2;
                &::after {
                    @include absolute(0 var(--_padding-x) 0 x);
                    @include size(var(--_border-width), 100%);
                    background: var(--_border-color);
                    content: '';
                }
            }

            @include breakpoint(xl) {
                border-width: 0 0 0 var(--_border-width);
            }
        }
    }

    &__label {
        @include modern-text(900);
        color: var(--c-theme-800);
        font-size: 0.6875rem;
        letter-spacing: 0.2em;
        line-height: 1;
        text-transform: uppercase;
    }

    &__text {
        @include modern-text(700);
        color: var(--c-theme-950);
        font-size: fluid(1.125rem, 2.125rem);
        line-height: 1.1;
    }

    &__counter {
        --nums-font-size: fluid(1.125rem, 2.125rem);
    }

    &__group {
        display: flex;
        flex-wrap: wrap;
        gap: 0.625rem;
    }

    &__tag {
        @include modern-text(700);
        background: var(--c-theme-900);
        border-radius: 0.1875rem;
        color: var(--c-theme-100);
        font-size: 0.75rem;
        flex: 0 0 auto;
        line-height: 1.1;
        padding: 0.5rem 0.75rem;
    }

}