@use '@/assets/scss/abstracts/' as *;

$dark-list: var(--c-theme-950), var(--c-theme-800), var(--c-theme-600), var(--c-theme-400), var(--c-theme-200), var(--c-theme-50);
$light-list: var(--c-theme-50), var(--c-theme-100), var(--c-theme-300), var(--c-theme-500), var(--c-theme-700), var(--c-theme-900);

.button {
    $b: &;

    --button-border-size: 2px;
    --button-color: var(--c-theme-950);
    --button-font-size: 0.875rem;
    --button-icon-size: 1rem;
    --button-stroke: var(--c-theme-950);
    --button-padding-x: 1.1rem;
    --button-padding-y: 0;
    --button-panel-size: 3.75rem;
    --button-height: calc(var(--button-panel-size) - (var(--button-border-size) * 2));
    --button-panel-easing-enter: var(--ease-out-cubic);
    --button-panel-easing-exit: var(--ease-out-quad);
    --button-timing-out: calc(var(--duration-adagio) - (var(--button-panel-count) * 100ms));
    --button-timing-in: calc(var(--duration-adagio) - (var(--button-panel-count) * 100ms));
    @include grid-content( center center);
    background: transparent;
    border: var(--button-border-size) solid var(--button-stroke);
    display: grid;
    grid-template-columns: 1fr var(--button-panel-size);
    grid-template-rows: var(--button-height);
    position: relative;
    inline-size: calc(var(--button-panel-size) * var(--button-panel-count));
    z-index: 1;

    @include hover-style(mouse) {
        cursor: pointer;

        #{$b}__panel {
            background-position-y: 100%;
            transform: scaleY(1);
            transition: background-position var(--button-timing-in) var(--button-panel-easing-enter) var(--button-panel-delay);
        }
    }

    &[data-active="true"] {
        #{$b}__panel {
            background-position-y: 100%;
            transform: scaleY(1);
            transition: background-position var(--button-timing-in) var(--button-panel-easing) var(--button-panel-delay);
        }
    }

    &[data-theme="light"] {
        --button-color: var(--c-theme-50);
        --button-stroke: var(--c-theme-50);

        &[data-active="true"],
        &:hover {
            --button-color: var(--c-theme-950);
            --icon-center: var(--c-theme-950);
        }
    }

    &[data-size="compressed"] {
        --button-font-size: 0.8125rem;
        --button-icon-size: 0.45rem;
        --button-padding-x: 0.25rem;
        --button-panel-size: 2.325rem;

        @include breakpoint( md ) {
            --button-font-size: 0.875rem;
            --button-icon-size: 0.5rem;
            --button-padding-x: 1.1rem;
            --button-panel-size: 2.875rem;
        }
    }

    &::after {
        @include absolute(calc( var(--button-border-size) * -1));
        content: '';
        border: var(--button-border-size) solid var(--button-stroke);
        pointer-events: none;
        z-index: 1;
    }

    &:where(:not(.button--naked)) {
        .button__text + .button__icon {
            border-inline-start: var(--button-border-size) solid var(--button-stroke);
        }
    }

    &__panels {
        @include absolute(calc(var(--button-border-size) * -1) x x calc(var(--button-border-size) * -1));
        display: grid;
        grid-template-columns: repeat(var(--button-panel-count), var(--button-panel-size));
        grid-template-rows: var(--button-panel-size);
        justify-content: end;
        overflow: clip;
        overflow: hidden;
        z-index: -1;
    }

    &__panel {
        --button-panel-delay: calc(100ms * ( var(--button-panel-index) - 1 ));
        background-position-y: -100%;
        background-repeat: no-repeat;
        background-size: 100% calc(var(--button-panel-size) * 7);
        display: block;
        grid-column: var(--button-panel-index) / span 1;
        grid-row: 1 / span 1;
        block-size: var(--button-panel-size);
        transform: scaleY(-1) translateZ(0);
        transition: background-position var(--button-timing-out) var(--button-panel-easing-exit) var(--button-panel-delay);

        [data-theme="dark"] & {
            @include step-gradient($dark-list);
        }

        [data-theme="light"] & {
            @include step-gradient($light-list);
        }
    }

    &__text {
        @include modern-text(500);
        color: var(--button-color);
        display: grid;
        font-size: var(--button-font-size);
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        letter-spacing: 0.1em;
        line-height: 1;
        padding: var(--button-padding-y) var(--button-padding-x);
        place-items: center;
        text-transform: uppercase;
        transition: color var(--button-timing-out) var(--button-panel-easing-exit);
    }

    &__icon {
        color: var(--button-color);
        display: grid;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        padding: var(--button-padding-y) var(--button-padding-x);
        place-items: center;
        transition: color var(--button-timing-out) var(--button-panel-easing-exit);
        inline-size: max(var(--button-height), 100%);
    }

    &__icon-wrapper {
        @include svg-contain($width: auto, $height: var(--button-icon-size));
        display: grid;
        place-items: center;
    }
}