.rich-text {
    --text-font-size: 1.1rem;
    --text-line-height: 1.6;
    strong {
        font-weight: var(--font-weight-bold);
        letter-spacing: 1px;
    }

    em {
        font-style: italic;
    }

    p {
        font-size: var(--text-font-size);
        font-weight: var(--font-weight-extralight);
        line-height: var(--text-line-height);
    }

    p + p {
        margin-block-start: 1.5rem;
    }

    a {
        background-image: linear-gradient(180deg,
            var(--section-color-panel-1, var(--c-theme-100)) 20%, var(--section-color-panel-2, var(--c-theme-300)) 20%,
            var(--section-color-panel-2, var(--c-theme-300)) 40%, var(--section-color-panel-3, var(--c-theme-500)) 40%,
            var(--section-color-panel-3, var(--c-theme-500)) 60%, var(--section-color-panel-4, var(--c-theme-700)) 60%,
            var(--section-color-panel-4, var(--c-theme-700)) 80%, var(--section-color-panel-5, var(--c-theme-900)) 80%);
        background-size: 100% calc(((1.5em * var(--text-line-height)) + 2px) * 5);
        background-repeat: no-repeat;
        background-position: 0 -20%;
        border-radius: 0.35rem;
        border: 1px solid var(--section-color-accent);
        color: var(--section-color-accent);
        font-weight: var(--font-weight-bold);
        padding: 0.25em;
        position: relative;
        transition: background var(--duration-gentle) var(--ease-out-quart), color var(--duration-gentle) var(--ease-out-quart);
        z-index: 1;

        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &:hover {
            background-position: 0 100%;
            color: var(--section-color-background);
            text-decoration: none;
        }
    }
}