.rich-text {
    --text-font-size: 1.1rem;
    --text-line-height: 1.6;
    --text-inline-size: var(--size-content-3);
    font-size: var(--text-font-size);
    font-weight: var(--font-weight-extralight);
    line-height: var(--text-line-height);
    max-inline-size: var(--text-inline-size);

    code {
        background-color: var(--section-color-panel-1);
        border-radius: 0.325rem;
        font-family: var(--font-mono);
        font-size: 0.8em;
        padding: 0.25em 0.5em;
    }

    strong {
        font-weight: var(--font-weight-bold);
        letter-spacing: 1px;
    }

    em {
        font-style: italic;
    }

    p + p {
        margin-block-start: 1.5rem;
    }

    a {
        background-image: linear-gradient(180deg,
            var(--section-color-panel-1, var(--c-theme-100)) 20%, var(--section-color-panel-2, var(--c-theme-300)) 20%,
            var(--section-color-panel-2, var(--c-theme-300)) 40%, var(--section-color-panel-3, var(--c-theme-500)) 40%,
            var(--section-color-panel-3, var(--c-theme-500)) 60%, var(--section-color-panel-4, var(--c-theme-700)) 60%,
            var(--section-color-panel-4, var(--c-theme-700)) 80%, var(--section-color-panel-5, var(--c-theme-900)) 80%);
        background-size: 100% calc(((1.5em * var(--text-line-height)) + 2px) * 5);
        background-repeat: no-repeat;
        background-position: 0 -20%;
        border-radius: 0.35rem;
        border: 1px solid var(--section-color-accent);
        color: var(--section-color-accent);
        font-weight: var(--font-weight-bold);
        padding: 0.25em;
        position: relative;
        transition: background var(--duration-gentle) var(--ease-out-quart), color var(--duration-gentle) var(--ease-out-quart);
        z-index: 1;

        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &:hover {
            background-position: 0 100%;
            color: var(--section-color-background);
            text-decoration: none;
        }
    }

    ul, ol {
        margin-block: 1.5rem;
        padding-inline-start: 1.5rem;
        text-align: start;

        li::marker {
            color: var(--section-color-accent);
        }
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    u {
        text-decoration-color: var(--section-color-accent);
        text-decoration-style: dotted;
        text-decoration-line: underline;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: 1px;
        text-underline-position: under;
    }

    s {
        text-decoration-color: var(--section-color-accent);
        text-decoration-line: line-through;
        text-decoration-thickness: 1px;
    }
}