@use '@/assets/scss/abstracts/' as *;

.service-icon {
    @include icon-shades();
    --icon-size: 2.5rem;
    --icon-border-color: var(--c-theme-002-rgb);
    --icon-invert-border-color: var(--c-theme-002-rgb);

    display: grid;
    place-items: center;
    transition:
        background var(--duration-moderate) var(--ease-out-cubic),
        border var(--duration-moderate) var(--ease-out-cubic);

    &.-invert-icon {
        @include icon-invert-shades();
    }

    &.-coin-icon {
        @include size(calc(var(--icon-size) * 2));
        background: rgba( var(--icon-invert-border-color), 0);
        border: 1px solid rgba(var(--icon-border-color), 0.5);
        border-radius: 50%;

        &.-invert-icon {
            background: rgba( var(--icon-invert-border-color), 1);
            border-color: rgba(var(--icon-invert-border-color), 1);
        }
    }

    &__wrapper {
        @include size(var(--icon-size-override, var(--icon-size)));
        display: grid;
        place-items: center;
    }

    svg {
        @include size(100%, 100%);
        object-fit: contain;
    }
}