@use '@/assets/scss/abstracts/' as *;

.service-icon {
    --icon-shade-001: var(--c-theme-002);
    --icon-shade-002: var(--c-theme-004);
    --icon-shade-003: var(--c-theme-006);
    --icon-shade-004: var(--c-theme-008);
    --icon-size: 2.5rem;
    --icon-border-color: var(--c-theme-006);
    --icon-invert-border-color: var(--c-theme-001-rgb);

    display: grid;
    place-items: center;

    &.-invert-icon {
        --icon-shade-001: var(--c-theme-011);
        --icon-shade-002: var(--c-theme-009);
        --icon-shade-003: var(--c-theme-007);
        --icon-shade-004: var(--c-theme-005);
    }

    &.-coin-icon {
        @include size(calc(var(--icon-size) * 2));
        background: rgba( var(--icon-invert-border-color), 0);
        border: 1px solid var(--icon-border-color);
        border-radius: 50%;

        &.-invert-icon {
            background: rgba( var(--icon-invert-border-color), 1);
            border-color: var(--icon-invert-border-color);
        }
    }

    &__wrapper {
        @include size(var(--icon-size));
        display: grid;
        place-items: center;
    }

    svg {
        @include size(100%, 100%);
        object-fit: contain;
    }
}