$colors: (
    neutral-0:    0 0% 100%,   // hsl( 0 0% 100% )
    neutral-50:   240 9% 98%,  // hsl( 240 9% 98% )
    neutral-100:  216 14% 93%, // hsl( 216 14% 93% )
    neutral-200:  220 14% 88%, // hsl( 220 14% 88% )
    neutral-300:  214 15% 82%, // hsl( 214 15% 82% )
    neutral-400:  215 14% 74%, // hsl( 215 14% 74% )
    neutral-500:  215 14% 64%, // hsl( 215 14% 64% )
    neutral-600:  215 14% 53%, // hsl( 215 14% 53% )
    neutral-700:  216 16% 44%, // hsl( 216 16% 44% )
    neutral-800:  216 16% 36%, // hsl( 216 16% 36% )
    neutral-900:  215 17% 26%, // hsl( 215 17% 26% )
    neutral-950:  217 16% 16%, // hsl( 217 16% 16% )
    neutral-1000: 0 0% 0%,     // hsl( 0 0% 0% )
);