@use "sass:map";

@use "@/assets/scss/abstracts/colors/" as *;

@mixin updateThemePrimary($theme, $bg, $text) {
    &[data-theme="#{$theme}"] {
        --c-theme-bg: var(--c-theme-#{$bg});
        --c-theme-bg-rgb: var(--c-theme-#{$bg}-rgb);

        --c-theme-text: var(--c-theme-#{$text});
        --c-theme-text-rgb: var(--c-theme-#{$text}-rgb);
    }
}

:root {
    @each $name, $value in $colors {
        --c-#{$name}: #{$value};
        --c-#{$name}-rgb: #{red($value)}, #{green($value)}, #{blue($value)};
    }

    --c-theme-bg: var(--c-theme-002);
    --c-theme-bg-rgb: var(--c-theme-002-rgb);

    --c-theme-text: var(--c-theme-011);
    --c-theme-text-rgb: var(--c-theme-011-rgb);
}