:where(html) {
    --font-modern: strawford, Helvetica, Arial, sans-serif;
    --font-poster: novelaposter, 'Times New Roman', Times, serif;
    --font-display: noveladisplay, 'Times New Roman', Times, serif;
    --font-classic: novela, 'Times New Roman', Times, serif;

    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --size-content-1: 20ch;
    --size-content-2: 45ch;
    --size-content-3: 60ch;

    --size-header-1: 20ch;
    --size-header-2: 25ch;
    --size-header-3: 35ch;
}