:root {
    // component overlay
    --z-hero: 1000;
    --z-sticky: 3000;
    --z-menu: 5000;
    --z-header: 6000;
    --z-modal: 7000;
    --z-portal: 8000;
    --z-frame: 9000;
    --z-max: 9999;
}