
@mixin button-invert() {
    color: var(--button-color-text-hover);

    &:hover,
    &:focus {
        color: var(--button-color-text);
    }

    &::before {
        background-color: var(--button-color-bg-hover);
        border-color: var(--button-color-border-hover);
    }

    &::after {
        background-color: var(--button-color-bg);
        border-color: var(--button-color-border);
    }
}

@mixin button-group($justify: center) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--grid-gap-column, 1.5rem);
    justify-content: $justify;

    > * {
        flex: 0 1 auto;
    }
}

@mixin button-reset() {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    border-radius: 0;
    color: unset;
    margin: 0;
    padding: 0;
}

