@use "sass:list";

@mixin focus-style( $offset: 3px, $color: currentColor ) {
    outline: 2px dotted $color;
    outline-offset: $offset;

    [data-whatintent='mouse'] &,
    [data-whatintent='touch'] & {
        outline: none;
    }
}

@mixin focus-visible() {
    &:focus-visible {
        [data-whatintent='keyboard'] & {
            @content;
        }
    }
}

@mixin hover-style( $sources...) {
    $input-list: '';
    @each $input in $sources {
        $intent: "[data-whatintent="#{$input}"] &,";
        $input-list: list.append($input-list, $intent);
    }

    &:hover {
        #{$input-list} {
            @content;
        }
    }
}