
@mixin modern-text($weight: var(--font-weight-regular)) {
    font-family: var(--font-modern);
    font-weight: $weight;
}

@mixin poster-text($style: normal) {
    font-family: var(--font-poster);
    font-style: $style;
    font-weight: normal;
}

@mixin display-text($style: normal) {
    font-family: var(--font-display);
    font-style: $style;
    font-weight: normal;
}

@mixin classic-text($weight: var(--font-weight-regular), $style: normal) {
    font-family: var(--font-classic);
    font-style: $style;
    font-weight: $weight;
}

.modern-thin {
    @include modern-text(var(--font-weight-thin));
}

.modern-extralight {
    @include modern-text(var(--font-weight-extralight));
}

.modern-light {
    @include modern-text(var(--font-weight-light));
}

.modern-regular {
    @include modern-text(var(--font-weight-regular));
}

.modern-medium {
    @include modern-text(var(--font-weight-medium));
}

.modern-bold {
    @include modern-text(var(--font-weight-bold));
}

.modern-black {
    @include modern-text(var(--font-weight-black));
}

.poster {
    @include poster-text();
}

.poster-italic {
    @include poster-text(italic);
}

.display {
    @include display-text();
}

.display-italic {
    @include display-text(italic);
}

.classic-regular {
    @include classic-text();
}

.classic-regular-italic {
    @include classic-text($style: italic);
}

.classic-semibold {
    @include classic-text(var(--font-weight-semibold));
}

.classic-semibold-italic {
    @include classic-text(var(--font-weight-semibold), italic);
}

.classic-bold {
    @include classic-text(var(--font-weight-bold));
}

.classic-bold-italic {
    @include classic-text(var(--font-weight-bold), italic);
}

.classic-black {
    @include classic-text(var(--font-weight-black));
}

.classic-black-italic {
    @include classic-text(var(--font-weight-black), italic);
}
