@mixin icon-shades() {
    --icon-shade-001: var(--c-theme-800);
    --icon-shade-002: var(--c-theme-600);
    --icon-shade-003: var(--c-theme-400);
    --icon-shade-004: var(--c-theme-200);
}

@mixin icon-invert-shades() {
    --icon-shade-001: var(--c-theme-100);
    --icon-shade-002: var(--c-theme-300);
    --icon-shade-003: var(--c-theme-500);
    --icon-shade-004: var(--c-theme-700);
}