
// Extend link to fit container of parent.
@mixin pseudo-link( $z: 0, $inset: 0, $pseudo: 'after' ) {
    &::#{ $pseudo } {
        content: '';
        inset: $inset;
        position: absolute;
        z-index: #{ $z };
    }
}