
// Extend link to fit container of parent.
@mixin pseudo-link( $z: 0 ) {
    &::after {
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: #{ $z };
    }
}