@mixin splitting($gap: 0.18em) {
    &__placeholder {
        opacity: 0;
    }

    &__splitting{
        column-gap: $gap;
        display: flex;
        flex-wrap: wrap;
    }

    &__word {
        display: inline-block;
        flex: none;
    }

    &__letter {
        display: inline-block;
    }
}