@mixin splitting($gap: 0.18em, $parent: false) {

    @if $parent {
        &__#{$parent} {
            display: grid;
            max-inline-size: var(--content-x);
            overflow: hidden;

            > * {
                grid-area: 1 / 1 / 1 / 1;
            }
        }
    }

    &__placeholder {
        opacity: 0;
        word-break: break-word;
    }

    &__splitting{
        column-gap: $gap;
        display: flex;
        flex-wrap: wrap;
    }

    &__word {
        display: inline-block;
        flex: none;
        max-inline-size: 100%;
    }

    &__word-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__letter {
        display: inline-block;
    }
}